// All options are compulsory; but you can alter the code to suit your needs (personal use)
RUNTIME= <dev| prod> // while set to "dev", TEST_TOKEN as well as TEST_CLIENT_ID will be used
MAINTENANCE= <true | false>
MAINTAINER_CLIENT_IDS= ["<id1>", "<id2>", ...] // JSON Array
CLIENT_ID= <id>
TEST_CLIENT_ID= <id>
TOKEN= <token>
TEST_TOKEN= <token>