{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "noInterop": true
  },
  "exclude": "./src/types/"
}
